/*
	NewGrid.loc styles

	<div class="container">
		<div class="row">
			<div class="col-50">
				<div class="box">Box</div>
			</div><!-- col-50 -->
		</div><!-- row -->
	</div><!-- container -->
*/

/*.box is a class for testing grids*/

body {
	color: #6c5f54;
}

[class^=box-] {
	width: 100%;
	min-height: 20px;
	background: #EAE9E1;
	color: #908A82;
	font-size: 12px;
	padding: 5px;
}

.box-20 {min-height: 20px;}
.box-30 {min-height: 30px;}
.box-40 {min-height: 40px;}
.box-50 {min-height: 50px;}
.box-60 {min-height: 60px;}
.box-60 {min-height: 60px;}
.box-70 {min-height: 70px;}
.box-70 {min-height: 70px;}
.box-80 {min-height: 80px;}
.box-90 {min-height: 90px;}
.box-100 {min-height: 100px;}

h2 {color: #615532;}

/*Section class: .container*/

.container {width: 100%;}

/*Center content*/

.wrap {
	max-width: 840px;
	margin: 0 auto;
	padding: 0 20px;
	/*background: #F6F9F4;*/
}

.wrap > *:not(.row) {
	padding: 0 10px;
}

/*row is a wrapper for columns*/

.row::before,
.row::after {content: " "; display: table; }
.row::after {clear: both; }

.row {
	display: block;
	width: 100%;
}

/* Percentage columns*/

[class^=col-] { float: left; padding: 10px;}

.col-100{ width: 100%;}			.col-90 { width: 90%;}
.col-80 { width: 80%;}			.col-75 { width: 75%;}
.col-70 { width: 70%;}			.col-66 { width: 66.6666%;}
.col-60 { width: 60%;}			.col-50 { width: 50%;}
.col-40 { width: 40%;}			.col-33 { width: 33.3333%;}
.col-30 { width: 30%;}			.col-25 { width: 25%;}
.col-20 { width: 20%;}			.col-10 {width: 10%;}

/* Golden Ratio Columns */
.col-gb 	{width: 61.80339887499%;} 	/* Golden Big */
.col-gs 	{width: 38.19660112501%;}	/* Golden Small */

@media screen and (max-width: 640px) {

	[class^=col-] {width: 100% !important; padding: 10px;}

	[class^=s-] {float: left; padding: 10px;}
	.s-50 {width: 50% !important; } 
	.s-33 {width: 33.333% !important; }

} /* media end */

/* Text helpers */

.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}

/* Layout helper */

.break {
	display: block;
	/*height: 40px;*/
	padding: 20px 0;
	width: 100%;
}


/* Push column */

.push-10 {margin-left: 10%;} .push-15 {margin-left: 15%;}
.push-20 {margin-left: 20%;} .push-25 {margin-left: 25%;}
.push-30 {margin-left: 30%;} .push-35 {margin-left: 35%;}
.push-40 {margin-left: 40%;} .push-45 {margin-left: 45%;}
.push-50 {margin-left: 50%;} .push-55 {margin-left: 55%;}
.push-60 {margin-left: 60%;} .push-70 {margin-left: 70%;}
.push-70 {margin-left: 70%;} .push-80 {margin-left: 80%;}
.push-80 {margin-left: 80%;} .push-90 {margin-left: 90%;}

@media screen and (max-width: 640px) {
	.push-10, .push-15, .push-20, .push-25, .push-30, .push-35,
	.push-40, .push-45, .push-50, .push-55, .push-60, .push-70, 
	.push-70, .push-80, .push-80, .push-90 {
		margin-left: 0;
	}
} /* media end */


/* =====================
	Gallery
======================== */

.gallery {
	display: block;
/*	background: #EFEFEF;*/
	overflow: hidden;
	padding: 0;
	margin-top: 20px;
}

.gallery .item {
	display: block;
	background: white;
	padding: 10px;
	float: left;
}

.gallery-2 .item {width: 50%;}
.gallery-3 .item {width: 33.333%;}

.img-desc {
	display: block;
	background: #EAE9E1;
	padding: 10px 5px;
	font-size: 12px;
}





